.bottom-drawer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;

  .bottom-drawer-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    color: #1890ff;
    background-color: #eef3fe;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    text-align: left;
    font-size: 1.1rem;

    &:hover {
      background-color: #1890ff;
      color: rgb(255, 255, 255);
    }
  }
}
