.menu-container {
  width: 100%;
  // background-color: #212525;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-right: 20px;

  .menu-right-item {
    height: 100%;
    // color: white;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
  }
  .menu {
    // background-color: #212525;
    border-bottom: none;

    display: inline-block;
    height: 10vh;
    .menu-item {
      margin-left: 20px;
      height: 100%;
      display: inline-flex !important;
      align-items: center;
      align-content: center;
      // color: white;

      .menu-icon {
        cursor: pointer;
      }
    }
  }
}
